/* General style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --disc: #e62d1c;
    --gray1: rgb(50, 50, 50);
    --gray2: rgb(65, 65, 65);
    --gray3: rgb(75, 75, 75);
    --gray4: rgb(90, 90, 90);
    --gray5: rgb(120, 120, 120);
    --gray6: rgb(190, 190, 190);
    --gray7: rgb(200, 200, 200);
}

body {
    color: var(--black);
    background-color: var(--white);
    font: 10px Arial, Helvetica, sans-serif;
}

/* Section 1 */
.section1 {
    display: flex;
    align-items: center;
    background-color: var(--gray7);
    height: 10em;
    padding: 0 5em;
    overflow: hidden;
}
    .section1__left,
    .section1__center,
    .section1__right {
        background-color: var(--gray5);
        height: 5em;
        min-width: 6em;
        border-radius: 1em 1em;
    }

    .section1__center {
        margin: 0 2em;
        width: 100%;
    }

    .section1__right {
        min-width: 35em;
    }

@media (max-width: 620px) {
    .section1 {
        padding: 0 2em;
    }
        .section1__center {
            width: 6em;
        }
        
        .section1__right {
            width: 100%;
            min-width: 6em;
        }
}

/* Section 2 */
.section2 {
    background-color: var(--gray6);
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "left right"
        "left right";
    grid-gap: 0 15em;
    padding: 5em;
}
    .section2__left {
        grid-area: left;
    }
        .section2__left__box1 {
            background-color: var(--gray1);
            height: 40em;
            min-width: 15em;
            border-radius: 1em 1em;
        }

        .section2__left__box2 {
            background-color: var(--gray4);
            margin-top: 4em;
            height: 20em;
            min-width: 15em;
            border-radius: 1em 1em;
        }

    .section2__right {
        grid-area: right;
    }
        .section2__right__box {
            background-color: var(--gray2);
            height: 60em;
            min-width: 15em;
            border-radius: 1em 1em;
        }

@media (max-width: 768px) {
    .section2 {
        grid-gap: 5em 0;
        grid-template-areas:
            "left left"
            "right right";
        padding: 5em 2em;
    }
        .section2__left__box1 {
            height: 20em;
        }

        .section2__right__box {
            background-color: var(--gray4);
        }
}

/* Section 3 */
.section3 {
    background-color: var(--gray7);
    padding: 5em 4em;
}
    .section3__top,
    .section3__bottom {
        display: flex;
        justify-content: space-between;
    }
        .section3__top__box,
        .section3__bottom__box {
            background-color: var(--gray3);
            height: 40em;
            width: 100%;
            min-width: 15em;
            margin: 0 1em;
            border-radius: 1em 1em;
        }

    .section3__middle {
        background-color: var(--gray1);
        height: 60em;
        min-width: 15em;
        margin: 3em 1em;
        border-radius: 1em 1em;
    }

    .section3__bottom {
        flex-flow: row wrap;
        padding: 0 1em;
    }
        .section3__bottom__box {
            width: 32.3%;
            margin: 0 0 2em;
        }

@media (max-width: 768px) {
    .section3 {
        padding: 5em 2em;
    }
        .section3__top,
        .section3__bottom {
            padding: 0;
            flex-flow: column nowrap;
        }
            .section3__top__box,
            .section3__bottom__box {
                margin: 1em 0;
                height: 20em;
            }
        
        .section3__middle {
            height: 30em;
            margin: 3em 0;
        }

        .section3__bottom__box {
            width: 100%;
        }
}

/* Section 4 */
.section4 {
    background-color: var(--gray6);
    padding: 5em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
    .section4__box1,
    .section4__box2,
    .section4__box3,
    .section4__box4,
    .section4__box5 {
        border-radius: 1em 1em;
        margin-top: 5em;
    }

    .section4__box1 {   
        background-color: var(--gray5);
        height: 5em;
        width: 30em;
        margin: 0;
    }

    .section4__box2 {
        background-color: var(--gray1);
        height: 20em;
        width: 60em;
    }

    .section4__box3 {
        background-color: var(--gray3);
        height: 10em;
        width: 60em;
    }

    .section4__box4 {
        background-color: var(--gray3);
        height: 10em;
        width: 40em;
    }

    .section4__box5 {
        background-color: var(--gray4);
        height: 60em;
        width: 60em;
    }

@media (max-width: 768px) {
    .section4 {
        padding: 5em 2em;
    }
        .section4__box2,
        .section4__box3,
        .section4__box4,
        .section4__box5 {
            width: 100%;
            min-width: 15em;
        }

        .section4__box5 {
            height: 35em;
        }
}

@media (max-width: 425px) {
    .section4__box1 {
        width: 100%;
        min-width: 15em;
    }
}

/* Section 5 */
.section5 {
    background-color: var(--gray7);
    padding: 0 15em 5em;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
    .section5__box {
        background-color: var(--gray5);
        height: 45em;
        width: 48%;
        margin-top: 5em;
        border-radius: 1em 1em;
    }

    .section5__box:first-of-type {
        background-color: var(--gray4);
    }

@media (max-width: 768px) {
    .section5 {
        padding: 0 2em 5em;
    }
}

@media (max-width: 425px) {
    .section5__box {
        width: 100%;
        min-width: 15em;
        height: 25em;
    }
}

/* Section 6 */
.section6 {
    background-color: var(--gray6);
    display: grid;
    grid-template-columns: 60% 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
        "left right"
        "left right";
    grid-gap: 0 10em;
    padding: 5em;
}
    .section6__left {
        grid-area: left;
    }
        .section6__left__box1 {
            background-color: var(--gray5);
            height: 5em;
            width: 40em;
            border-radius: 1em 1em;
        }

        .section6__left__box2 {
            background-color: var(--gray1);
            height: 10em;
            width: 40em;
            margin: 5em 0;
            border-radius: 1em 1em;
        }

        .section6__left__box3 {
            background-color: var(--gray3);
            height: 20em;
            width: 100%;
            margin-bottom: 5em;
            border-radius: 1em 1em;
        }

        .section6__left__box4 {
            background-color: var(--gray2);
            height: 10em;
            width: 40em;
            border-radius: 1em 1em;
        }
