/* General style */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --black: #000;
    --white: #fff;
    --disc: #e62d1c;
    --gray1: rgb(50, 50, 50);
    --gray2: rgb(65, 65, 65);
    --gray3: rgb(75, 75, 75);
    --gray4: rgb(90, 90, 90);
    --gray5: rgb(120, 120, 120);
    --gray6: rgb(190, 190, 190);
    --gray7: rgb(200, 200, 200);
}

body {
    color: var(--black);
    background-color: var(--white);
    font: 10px Arial, Helvetica, sans-serif;
}

/* Section 1 */
.section1 {
    display: flex;
    align-items: center;
    background-color: var(--gray7);
    height: 10em;
    padding: 0 5em;
    overflow: hidden;
}
    .section1__left,
    .section1__center,
    .section1__right {
        background-color: var(--gray5);
        height: 5em;
        min-width: 6em;
        border-radius: 1em 1em;
    }

    .section1__center {
        margin: 0 2em;
        width: 100%;
    }

    .section1__right {
        min-width: 35em;
    }

@media (max-width: 620px) {
    
}
